**.fastq
**.fastq.gz
**.fq.gz
**.fq
**~
DNA-seq/
RNA-seq/
software/
*.tmp
**.fasta
**.fa
.rerun
1_QCQA/Nanopore_Logs/
CA_dir.txt
ESTIMATED_GENOME_SIZE.txt
PLOIDY.txt
environment.sh
guillaumeKUnitigsAtLeast32bases_all.41.fasta
guillaumeKUnitigsAtLeast32bases_all.fasta
guillaumeKUnitigsAtLeast32bases_all.jump.fasta
k_u_hash_0
meanAndStdevByPrefix.pe.txt
mr.*
ont_25xlongest.fa
pe.cor.fa
pe.cor.tmp.log
quorum.err
quorum_mer_db.jf
super1.err
superReadSequences.named.fasta
work1/
work1_mr/
*.jf
*.err
*.spec
.Rproj.user
3_Flye/