.Rproj.user
1_QCQA/Nanopore_Logs/
3_BCGSC/LINKS_k15_z100
3_BCGSC/LINKS_k15/
3_Fast-SG/Dstr_v1.1.K22/Dstr_v1.1.kmc.K22.txt
3_Fast-SG/Dstr_v1.3_k101-K22/Dstr_v1.3_k101.kmc.K22.txt
3_Flye/flye.log
augustus_output/
blast_output/
DNA-seq/
history/LINKS*.out
hmmer_output/
k_u_hash_0
meanAndStdevByPrefix.pe.txt
mr.*
pe.cor.tmp.log
RNA-seq/
software/
tmp
work1_mr/
work1/