.Rproj.user
!**/*.sh
Alkaloids/
1_QCQA/Nanopore_Logs/
2_ABySS/
3_BCGSC/*
3_Fast-SG/Dstr_v1.1.K22/Dstr_v1.1.kmc.K22.txt
3_Fast-SG/Dstr_v1.3_k101-K22/Dstr_v1.3_k101.kmc.K22.txt
3_Flye/flye.log
4_EDTA/
!4_EDTA/*.sh
4_RepeatModeler
!4_RepeatModeler/1_RepeatModeler.sh
5_Funannotate/
augustus_output/
blast_output/
DNA-seq/
history/LINKS*.out
history/ntEdit*.out
history/RAILS*.out
history/RelocaTE2*
history/Cobbler*.out
history/Trinity*
hmmer_output/
k_u_hash_0
meanAndStdevByPrefix.pe.txt
mr.*
pe.cor.tmp.log
RNA-seq/
software/
suboptimal/
tmp
work1_mr/
work1/