
SPEEDSEQ_HOME=/opt/linux/centos/7.x/x86_64/pkgs/speedseq/

# general
SAMBAMBA=/opt/linux/centos/7.x/x86_64/pkgs/speedseq/a95704a/bin/sambamba
BGZIP=/opt/linux/centos/7.x/x86_64/pkgs/speedseq/a95704a/bin/bgzip
TABIX=/opt/linux/centos/7.x/x86_64/pkgs/speedseq/a95704a/bin/tabix
VAWK=/opt/linux/centos/7.x/x86_64/pkgs/speedseq/a95704a/bin/vawk
PARALLEL=/opt/linux/centos/7.x/x86_64/pkgs/speedseq/a95704a/bin/parallel
PYTHON=python

# align
BWA=/opt/linux/centos/7.x/x86_64/pkgs/bwa/0.7.12/bin/bwa
SAMBLASTER=/opt/linux/centos/7.x/x86_64/pkgs/speedseq/a95704a/bin/samblaster

# var/somatic
FREEBAYES=/opt/linux/centos/7.x/x86_64/pkgs/speedseq/a95704a/bin/freebayes
VEP=/opt/linux/centos/7.x/x86_64/pkgs/speedseq/a95704a/bin/variant_effect_predictor.pl
VEP_CACHE_DIR=/opt/linux/centos/7.x/x86_64/pkgs/speedseq/a95704a/annotations/vep_cache

# sv
LUMPY=/opt/linux/centos/7.x/x86_64/pkgs/speedseq/a95704a/bin/lumpy
LUMPYEXPRESS=/opt/linux/centos/7.x/x86_64/pkgs/speedseq/a95704a/bin/lumpyexpress
PAIREND_DISTRO=/opt/linux/centos/7.x/x86_64/pkgs/speedseq/a95704a/bin/pairend_distro.py
SVTYPER=/opt/linux/centos/7.x/x86_64/pkgs/speedseq/a95704a/bin/svtyper
BAMGROUPREADS=/opt/linux/centos/7.x/x86_64/pkgs/speedseq/a95704a/bin/bamgroupreads.py
BAMFILTERRG=/opt/linux/centos/7.x/x86_64/pkgs/speedseq/a95704a/bin/bamfilterrg.py
BAMLIBS=/opt/linux/centos/7.x/x86_64/pkgs/speedseq/a95704a/bin/bamlibs.py

# CNVnator
CNVNATOR_WRAPPER=/opt/linux/centos/7.x/x86_64/pkgs/speedseq/a95704a/bin/cnvnator_wrapper.py
CNVNATOR_MULTI=/opt/linux/centos/7.x/x86_64/pkgs/speedseq/a95704a/bin/cnvnator-multi
ANNOTATE_RD=/opt/linux/centos/7.x/x86_64/pkgs/speedseq/a95704a/bin/annotate_rd.py
CNVNATOR_CHROMS_DIR=/opt/linux/centos/7.x/x86_64/pkgs/speedseq/a95704a/annotations/cnvnator_chroms

# realign
BAMTOFASTQ=/opt/linux/centos/7.x/x86_64/pkgs/speedseq/a95704a/bin/bamtofastq.py
MBUFFER=/opt/linux/centos/7.x/x86_64/pkgs/speedseq/a95704a/bin/mbuffer
BAMHEADRG=/opt/linux/centos/7.x/x86_64/pkgs/speedseq/a95704a/bin/bamheadrg.py
BAMCLEANHEADER=/opt/linux/centos/7.x/x86_64/pkgs/speedseq/a95704a/bin/bamcleanheader.py
